body {
  background-color: #003153;
  background-image: url(a6fdfb459eba8542dc484f3851015bb3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #FFF;
  font-size: 1.8em; }

